
/* 	Flat UI Colours
/* ======================================= */

$bg-hip-hop-advice: #fff;
$bg-pharrell: #f6bc39;
$bg-rick-ross: #dd3e51;
$bg-jay-z: #24242b;
$bg-yeezy: #61bca3;
$bg-biggie: #47b6d3;
$bg-tupac: #7663a6;
$bg-drake: #ee7443;
$bg-two-chainz: #309659;
$bg-eminem: #3692d9;
$bg-lil-wayne: #203861;
$bg-snoop: #dac9ad;
