
/* 	Global styles
/* ======================================= */

* {
	@include box-sizing( border-box );
}

body, html {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

.section, .inner {
    display: block;
    position: relative;
    width: 100%;
}

.inner {
    max-width: 1080px;
}

.rapper {
    display: block;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include transition( top .1s ease-out );

    img.text, img.lad {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &.rapvice {
        background: $bg-rapvice;
        z-index: 14;
    }

    &.jay-z {
        background: $bg-jay-z;
        z-index: 13;
    }

    &.pharrell {
        background: $bg-pharrell;
        z-index: 11;
    }

    &.rick-ross {
        background: $bg-rick-ross;
        z-index: 10;
    }

    &.yeezy {
        background: $bg-yeezy;
        z-index: 8;
    }

    &.biggie {
        background: $bg-biggie;
        z-index: 7;
    }

    &.tupac {
        background: $bg-tupac;
        z-index: 6;
    }

    &.drake {
        background: $bg-drake;
        z-index: 5;
    }

    &.two-chainz {
        background: $bg-two-chainz;
        z-index: 4;
    }

    &.eminem {
        background: $bg-eminem;
        z-index: 3;
    }

    &.lil-wayne {
        background: $bg-lil-wayne;
        z-index: 2;
    }

    &.snoop {
        background: $bg-snoop;
        z-index: 1;
    }
}

nav {
    display: block;
    position: fixed;
    z-index: 20;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;

    ul {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    li {
        display: block;
        position: relative;
        left: 0px;
        width: 50px;
        height: 8.3333%;

        a {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 10px;
            height: 100%;
            @include transition( all .1s ease-out );
        }

        &.rapvice a {
            background: darken(#fff, 10%);
        }
        &.pharrell a {
            background: darken(#f6bc39, 10%);
        }
        &.rick-ross a {
            background: darken(#dd3e51, 10%);
        }
        &.jay-z a {
            background: darken(#24242b, 10%);
        }
        &.yeezy a {
            background: darken(#61bca3, 10%);
        }
        &.biggie a {
            background: darken(#47b6d3, 10%);
        }
        &.tupac a {
            background: darken(#7663a6, 10%);
        }
        &.drake a {
            background: darken(#ee7443, 10%);
        }
        &.two-chainz a {
            background: darken(#309659, 10%);
        }
        &.eminem a {
            background: darken(#3692d9, 10%);
        }
        &.lil-wayne a {
            background: darken(#203861, 10%);
        }
        &.snoop a {
            background: darken(#dac9ad, 10%);
        }

        &.active, &:hover {
            a {
                width: 50px;
            }
        }
        
    }
}