/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 	Flat UI Colours
/* ======================================= */
/* 	Base styles
/* ======================================= */
/* 	Fonts and that, 
/* ======================================= */
/* line 5, ../../../scss/partials/_typography.scss */
h1 {
  font-size: 32px;
  line-height: 42px;
  margin: 0 0 22px 0;
}

/* line 11, ../../../scss/partials/_typography.scss */
h2 {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 8px 0;
}

/* line 17, ../../../scss/partials/_typography.scss */
h3 {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 12px 0;
}

/* line 23, ../../../scss/partials/_typography.scss */
.centered {
  text-align: center;
}

/* 	Global styles
/* ======================================= */
/* line 5, ../../../scss/partials/_global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../../../scss/partials/_global.scss */
body, html {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'proxima-nova', sans-serif;
  background: #dac9ad;
}

/* line 17, ../../../scss/partials/_global.scss */
.section, .inner {
  display: block;
  position: relative;
  width: 100%;
}

/* line 23, ../../../scss/partials/_global.scss */
.inner {
  max-width: 1080px;
}

/* line 27, ../../../scss/partials/_global.scss */
.credits {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 26px;
  color: white;
  font-size: 14px;
  z-index: 30;
  text-transform: uppercase;
}
/* line 38, ../../../scss/partials/_global.scss */
.credits a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 43, ../../../scss/partials/_global.scss */
.credits a:hover, .credits a:focus {
  color: #1a1a1f;
}

/* line 49, ../../../scss/partials/_global.scss */
.rapper {
  display: block;
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: top 0.1s ease-out;
  -moz-transition: top 0.1s ease-out;
  -o-transition: top 0.1s ease-out;
  transition: top 0.1s ease-out;
}
/* line 59, ../../../scss/partials/_global.scss */
.rapper img.text, .rapper img.lad {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 80%;
  -webkit-transition: top 0.5s ease-out;
  -moz-transition: top 0.5s ease-out;
  -o-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 78, ../../../scss/partials/_global.scss */
.rapper .advice {
  position: absolute;
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  width: 60%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 92, ../../../scss/partials/_global.scss */
.rapper.hip-hop-advice {
  background: white url('../img/text/hip-hop-advice.png?1415197821') center 150px fixed no-repeat;
  z-index: 14;
}
/* line 97, ../../../scss/partials/_global.scss */
.rapper.jay-z {
  background: #1a1a1f url('../img/text/jay-z.png?1415017124') center 150px fixed no-repeat;
  z-index: 13;
}
/* line 102, ../../../scss/partials/_global.scss */
.rapper.pharrell {
  background: #f6bc39 url('../img/text/pharrell.png?1415017128') center 150px fixed no-repeat;
  z-index: 11;
}
/* line 107, ../../../scss/partials/_global.scss */
.rapper.rick-ross {
  background: #dd3e51 url('../img/text/rick-ross.png?1415017132') center 150px fixed no-repeat;
  z-index: 10;
}
/* line 112, ../../../scss/partials/_global.scss */
.rapper.yeezy {
  background: #61bca3 url('../img/text/yeezy.png?1415017135') center 150px fixed no-repeat;
  z-index: 8;
}
/* line 117, ../../../scss/partials/_global.scss */
.rapper.biggie {
  background: #47b6d3 url('../img/text/biggie.png?1415017139') center 150px fixed no-repeat;
  z-index: 7;
}
/* line 122, ../../../scss/partials/_global.scss */
.rapper.tupac {
  background: #7663a6 url('../img/text/tupac.png?1415017143') center 150px fixed no-repeat;
  z-index: 6;
}
/* line 127, ../../../scss/partials/_global.scss */
.rapper.drake {
  background: #ee7443 url('../img/text/drake.png?1415017146') center 150px fixed no-repeat;
  z-index: 5;
}
/* line 132, ../../../scss/partials/_global.scss */
.rapper.two-chainz {
  background: #309659 url('../img/text/two-chainz.png?1415017150') center 150px fixed no-repeat;
  z-index: 4;
}
/* line 137, ../../../scss/partials/_global.scss */
.rapper.eminem {
  background: #3692d9 url('../img/text/eminem.png?1415017154') center 150px fixed no-repeat;
  z-index: 3;
}
/* line 142, ../../../scss/partials/_global.scss */
.rapper.lil-wayne {
  background: #203861 url('../img/text/lil-wayne.png?1415017157') center 150px fixed no-repeat;
  z-index: 2;
}
/* line 147, ../../../scss/partials/_global.scss */
.rapper.snoop {
  background: #dac9ad url('../img/text/snoop.png?1415017161') center 150px fixed no-repeat;
  z-index: 1;
}

/* line 153, ../../../scss/partials/_global.scss */
nav {
  display: block;
  position: fixed;
  z-index: 20;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
}
/* line 162, ../../../scss/partials/_global.scss */
nav ul {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 169, ../../../scss/partials/_global.scss */
nav li {
  display: block;
  position: relative;
  left: 0px;
  width: 50px;
  height: 8.3333%;
}
/* line 176, ../../../scss/partials/_global.scss */
nav li a {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 186, ../../../scss/partials/_global.scss */
nav li.rapvice a {
  background: #e6e6e6;
}
/* line 189, ../../../scss/partials/_global.scss */
nav li.pharrell a {
  background: #f1aa0b;
}
/* line 192, ../../../scss/partials/_global.scss */
nav li.rick-ross a {
  background: #c52336;
}
/* line 195, ../../../scss/partials/_global.scss */
nav li.jay-z a {
  background: #0d0d0f;
}
/* line 198, ../../../scss/partials/_global.scss */
nav li.yeezy a {
  background: #46a48a;
}
/* line 201, ../../../scss/partials/_global.scss */
nav li.biggie a {
  background: #2d9dba;
}
/* line 204, ../../../scss/partials/_global.scss */
nav li.tupac a {
  background: #5e4e88;
}
/* line 207, ../../../scss/partials/_global.scss */
nav li.drake a {
  background: #e95215;
}
/* line 210, ../../../scss/partials/_global.scss */
nav li.two-chainz a {
  background: #246f42;
}
/* line 213, ../../../scss/partials/_global.scss */
nav li.eminem a {
  background: #2378b9;
}
/* line 216, ../../../scss/partials/_global.scss */
nav li.lil-wayne a {
  background: #13223b;
}
/* line 219, ../../../scss/partials/_global.scss */
nav li.snoop a {
  background: #cab28a;
}
/* line 224, ../../../scss/partials/_global.scss */
nav li.active a, nav li:hover a {
  width: 50px;
}

/* line 232, ../../../scss/partials/_global.scss */
#current {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
  font-size: 22px;
  color: white;
  background: black;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 767px) {
  /* 	Mobile styles
  /* ======================================= */
  /* line 7, ../../../scss/partials/_mobile.scss */
  .rapper.hip-hop-advice {
    background: white url('../img/text/hip-hop-advice.png?1415197821') center 180px fixed no-repeat;
    background-size: 300px auto;
    z-index: 14;
  }
  /* line 13, ../../../scss/partials/_mobile.scss */
  .rapper.jay-z {
    background: #1a1a1f url('../img/text/jay-z.png?1415017124') center 180px fixed no-repeat;
    background-size: 300px auto;
    z-index: 13;
  }
  /* line 19, ../../../scss/partials/_mobile.scss */
  .rapper.pharrell {
    background: #f6bc39 url('../img/text/pharrell.png?1415017128') center 180px fixed no-repeat;
    background-size: 300px auto;
    z-index: 11;
  }
  /* line 25, ../../../scss/partials/_mobile.scss */
  .rapper.rick-ross {
    background: #dd3e51 url('../img/text/rick-ross.png?1415017132') center 180px fixed no-repeat;
    background-size: 300px auto;
    z-index: 10;
  }
  /* line 31, ../../../scss/partials/_mobile.scss */
  .rapper.yeezy {
    background: #61bca3 url('../img/text/yeezy.png?1415017135') center 180px fixed no-repeat;
    background-size: 300px auto;
    z-index: 8;
  }
  /* line 37, ../../../scss/partials/_mobile.scss */
  .rapper.biggie {
    background: #47b6d3 url('../img/text/biggie.png?1415017139') center 180px fixed no-repeat;
    background-size: 300px auto;
    z-index: 7;
  }
  /* line 43, ../../../scss/partials/_mobile.scss */
  .rapper.tupac {
    background: #7663a6 url('../img/text/tupac.png?1415017143') center 180px fixed no-repeat;
    background-size: 300px auto;
    z-index: 6;
  }
  /* line 49, ../../../scss/partials/_mobile.scss */
  .rapper.drake {
    background: #ee7443 url('../img/text/drake.png?1415017146') center 180px fixed no-repeat;
    background-size: 300px auto;
    z-index: 5;
  }
  /* line 55, ../../../scss/partials/_mobile.scss */
  .rapper.two-chainz {
    background: #309659 url('../img/text/two-chainz.png?1415017150') center 180px fixed no-repeat;
    background-size: 300px auto;
    z-index: 4;
  }
  /* line 61, ../../../scss/partials/_mobile.scss */
  .rapper.eminem {
    background: #3692d9 url('../img/text/eminem.png?1415017154') center 180px fixed no-repeat;
    background-size: 300px auto;
    z-index: 3;
  }
  /* line 67, ../../../scss/partials/_mobile.scss */
  .rapper.lil-wayne {
    background: #203861 url('../img/text/lil-wayne.png?1415017157') center 180px fixed no-repeat;
    background-size: 300px auto;
    z-index: 2;
  }
  /* line 73, ../../../scss/partials/_mobile.scss */
  .rapper.snoop {
    background: #dac9ad url('../img/text/snoop.png?1415017161') center 180px fixed no-repeat;
    background-size: 300px auto;
    z-index: 1;
  }
}
@media screen and (max-width: 959px) {
  /* 	Tablet styles
  /* ======================================= */
}
@media screen and (min-width: 960px) {
  /* 	Desktop styles
  /* ======================================= */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* 	Hi-def styles
  /* ======================================= */
}
/* ========================
     _                                        
 ___| |__   __ _ _ __ ___   ___   ___ ___ ___ 
/ __| '_ \ / _` | '_ ` _ \ / _ \ / __/ __/ __|
\__ \ | | | (_| | | | | | |  __/| (__\__ \__ \
|___/_| |_|\__,_|_| |_| |_|\___(_)___|___/___/
                                              
/* ======================== */
/* 	Shameful styles
/* ======================================= */
