<!-- RAPPERS, YO -->

<div class="rapper rapvice">
    <img src="/assets/img/text/rapvice.png" class="text" />
</div>

<div class="rapper jay-z">
    <img src="/assets/img/text/jay-z.png" class="text" />
    <img src="/assets/img/jay-z.png" class="lad" />
</div>

<div class="rapper pharrell">
    <img src="/assets/img/text/pharrell.png" class="text" />
    <img src="/assets/img/pharrell.png" class="lad" />
</div>

<div class="rapper rick-ross">
    <img src="/assets/img/text/rick-ross.png" class="text" />
    <img src="/assets/img/rick-ross.png" class="lad" />
</div>

<div class="rapper yeezy">
    <img src="/assets/img/text/yeezy.png" class="text" />
    <img src="/assets/img/yeezy.png" class="lad" />
</div>

<div class="rapper biggie">
    <img src="/assets/img/text/biggie.png" class="text" />
    <img src="/assets/img/biggie.png" class="lad" />
</div>

<div class="rapper tupac">
    <img src="/assets/img/text/tupac.png" class="text" />
    <img src="/assets/img/tupac.png" class="lad" />
</div>

<div class="rapper drake">
    <img src="/assets/img/text/drake.png" class="text" />
    <img src="/assets/img/drake.png" class="lad" />
</div>

<div class="rapper two-chainz">
    <img src="/assets/img/text/two-chainz.png" class="text" />
    <img src="/assets/img/two-chainz.png" class="lad" />
</div>

<div class="rapper eminem">
    <img src="/assets/img/text/eminem.png" class="text" />
    <img src="/assets/img/eminem.png" class="lad" />
</div>

<div class="rapper lil-wayne">
    <img src="/assets/img/text/lil-wayne.png" class="text" />
    <img src="/assets/img/lil-wayne.png" class="lad" />
</div>

<div class="rapper snoop">
    <img src="/assets/img/text/snoop.png" class="text" />
    <img src="/assets/img/snoop.png" class="lad" />
</div>